# Python-related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
vWindows/

# PyInstaller
build/
dist/

# training results
runs/

# app
Detection.app/

# macOS-specific files
.DS_Store

# IDE files (e.g., VSCode, PyCharm)
.idea/
.vscode/
*.iml

# Image or output files that should not be tracked
images/
*.jpg
*.png
*.jpeg

# Log files
*.log

# test file
test.py
val.py

# Documentations
Documentation/

# dataset
Dataset/
