ipython==8.12.3
numpy~=1.26.4
Pillow==9.5.0
plantcv==4.2.1
PyQt5==5.15.11
PyQt5_sip>=12.15,<13
sahi~=0.11.15
ultralytics
opencv-python~=4.6.0.66
pytesseract
pyinstaller
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pydrive
reportlab